.Footer
{
    width: 100%;
    margin-top: 2rem;
    padding: 50px 40px;
    background-color: rgb(12, 12, 12);
}
.FooterContainer
{
    max-width: 80vw;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}
.FooterRow
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}
.FooterColumn
{
    padding: .5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.FooterColumn a, .FooterColumn p
{
    width: 100%;
    font-size: 16px;
    padding: .5rem;
    margin: .1rem;
    text-decoration: none;
    text-align: center;
    color: #dbdbdb;
    background-color: rgb(17, 17, 17);
}
.FooterColumn a:hover
{
    color:rgb(10, 210, 110);
}

@media only screen and (max-width: 768px){ 
    .Footer
    {
        padding: 30px 20px;
    }
    .FooterRow
    {
        grid-template-columns: repeat(auto-fill, 
        minmax(200px, 1fr));
    }
}