.TitleBar
{
    height: auto;
    padding: 20px;
    background-color: rgb(17, 17, 17);

}
.TitleBar a
{
    font-size: 50px;
    margin: 0;
    margin-left: 2rem;
    font-weight: 900;
    text-decoration: none;
    color:rgb(230, 154, 55);
    font-style: italic;
}
.TitleBar a:hover
{
    color: #dbdbdb;
    text-decoration: underline;
}
.TitleAccent
{
    font-size: 20px;
    margin: 0;
    margin-left: 2rem;
    margin-top: 1rem;
    font-style: italic;
    
}
@media only screen and (max-width: 768px){ 
    .TitleAccent
    {
        display: none;
    }

}